/*Universal styling styling*/
main h1 {
  text-align: center;
  color: black;
}

/*Main styling*/
main img {
  object-fit: cover;
  max-width: 20em;
  display: flex;
  margin: auto;
}

main p {
  text-align: center;
}

/*Media screens for desktop*/
@media (min-width: 826px) {
  main img {
    min-width: 30em;
  }

  main p {
    max-width: 50%;
    display: flex;
    margin: 2em auto;
  }
}