/*Universal styling styling*/
main h1 {
  text-align: center;
  color: black;
}

/*Main styling*/
main p {
  margin: 1em 2em;
}

main img {
  object-fit: cover;
  max-width: 50em;
  display: flex;
  margin: auto;
}