/*Body styling*/
main h1 {
  text-align: center;
}

.about-image {
  background-image: url("../pictures/about-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-style: solid;
  border-color: black;
  border-width: .1em;
  height: 30em;
}

.about-image2 {
  background-image: url("../pictures/about-image2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-style: solid;
  border-color: black;
  border-width: .1em;
  width: auto;
  height: 20em;
}

/* Media screens for desktop */
@media (min-width: 1401px) {
  
  .about-image2 {
    width: 20em;
    margin: auto;
    background-size: contain;
    background-color: rgb(10, 54, 65, 10%);
  }

  p {
    width: 70%;
    word-spacing: 0.2em;
    margin: 1.5em auto;
  }
}

/* Media screens for mobile */
@media (min-width: 370px) and (max-width: 699px) {
  .about-image {
    max-height: 10em;
  }

  p {
    margin: 1em 2em;
    word-spacing: 0.2em;
  }
}

/* Media screens for tablet */
@media (min-width: 700px) and (max-width: 1390px) {
  .about-image {
    max-height: 20em;
  }

  .about-image2 {
    max-height: 40em;
    background-size: contain;
  }

  p {
    margin: 1em 2em;
    word-spacing: 0.2em;
  }
}