/*Universal Styling*/
h1 {
  color: black;
}

main h1 {
  display: inline-block;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.complete-btn,
button {
  font-family: "Open Sans";
  background-color: rgb(10, 54, 65);
  border-style: solid;
  border-color: black;
  cursor: pointer;
  color: white;
  padding: 1em 2em;
}

.bar {
  width: 100%;
  height: .1em;
  background-color: rgb(10, 54, 65);
  margin: 1em 0;
}

.under-header {
  display: grid;
  grid-template-columns: auto auto;
  margin: 1em 0;
  text-align: center;
}

/*Your order styling*/
.order-container img {
  object-fit: contain;
  border-style: solid;
  border-color: black;
  border-width: 0.1em;
  max-width: 40%;
}

.hide-mobile {
  display: none;
}

.order-container {
  display: flex;
  align-items: center;
  background-color: rgb(10, 54, 65, 10%);
}

.container-right {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  align-items: center;
}

.container-right div {
  display: inline-block;
}

.container-right div .cost {
  display: flex;
}

.cost {
  gap: 1em;
}

.container-right p {
  display: inline-block;
}

.container-right div .total {
  display: flex;
  flex-direction: column;
}

.container-right div .total div {
  display: flex;
  justify-content: space-between;
}

/*Personal details styling*/
legend {
  font-weight: 600;
}

fieldset {
  background-color: rgb(10, 54, 65, 10%);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

fieldset label,
input {
  margin: 0.5em 0;
  display: block;
}

/*Methods Styling*/
input[type=checkbox] {
  line-height: normal;
  width: 1.5em;
  height: 1.5em;
}

.shipping-container,
.payment-container {
  background-color: rgb(10, 54, 65, 10%);
  display: flex;
  flex-direction: column;
}

.shipping-container div,
.payment-container div {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.method-container {
  display: flex;
  flex-direction: column;
}

.method-container i {
  color: rgb(10, 54, 65);
}

/*Media screens for desktop*/
@media (min-width: 826px) {
  /*Your order styling*/
  .order-container p {
    text-align: center;
  }

  fieldset {
    display: flex;

  }
}