/*Body Styling*/
main {
  margin-bottom: 5em;
}

h1,
h2,
p {
  text-align: center;
  color: black;
}

a.button{
  display: block;
  margin: auto;
  margin-top: 5em;
  font-family: "Open Sans";
  padding: 1em 2em;
  background-color: rgb(10, 54, 65);
  border-style: solid;
  border-color: black;
  cursor: pointer;
  color: white;
  text-align: center;
  width: 8em;
}

a.button:focus {
  background-color: green;
}

/*Form styling*/
fieldset {
  background-color: rgb(10, 54, 65, 10%);
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.form {
  display: flex;
  justify-content: space-evenly;
}

.form-child {
  display: flex;
  flex-direction: column;
}

fieldset textarea {
  resize: none;
  min-height: 5em;
}

/*Media screens for desktop*/
@media (min-width: 826px) {
  /*Universal styling*/
  h2 {
    margin-bottom: 2em;
  }
  
  /*Form styling*/
  fieldset input {
    min-width: 20em;
  }

  .form {
    justify-content: space-between;
  }

  fieldset {
    padding: 4em 8em;
  }
}