/*Body Styling*/
main {
  margin-bottom: 5em;
}

h1,
h2,
p {
  text-align: center;
  color: black;
}

a.button{
  display: block;
  margin: auto;
  margin-top: 5em;
  font-family: "Open Sans";
  padding: 1em 2em;
  background-color: rgb(10, 54, 65);
  border-style: solid;
  border-color: black;
  cursor: pointer;
  color: white;
  text-align: center;
  width: 8em;
}

a.button:focus {
  background-color: green;
}