/*Footer styling*/
.border {
  width: auto;
  height: 4em;
  background-color: rgb(10, 54, 65);
  margin-bottom: 2em;
  margin-top: 2em;
}

footer {
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 100%;
}

.footer-right {
 text-align: right;
}

footer h3 {
  text-decoration: none;
  color: rgb(10, 54, 65);
  font-weight: 400;
  text-align: left;
}

footer i {
  font-size: 2em;
  padding: 0 .2em;
  color: rgb(10, 54, 65);
}

.copyright {
  margin: 2em 0;
}

/* Media screens for desktop */
@media (min-width: 1401px) {
  footer img {
    max-width: 20em;
  }
}

/* Media screen for mobile devices */
@media (min-width: 370px) and (max-width: 699px) {
  body {
    margin: 0;
   }

  footer img {
    width: 50%;
  }

  footer {
    grid-template-columns: auto auto;
    margin: 0 1em;
  }

  h3 {
    font-size: 1em;
  }

}

/*Media screen for tablet devices */
@media (min-width: 700px) and (max-width: 1390px) {
  body {
    margin: 0;
   }

  footer img {
    width: 50%;
  }

  footer {
    grid-template-columns: auto auto;
    margin: 0 1em;
  }

  h3 {
    font-size: 1.5em;
  }

}