/*Header styling*/
header i {
  font-size: 1.5em;
  color: white;
}

li {
  list-style-type: none;
}

nav {
  background-color: rgb(10, 54, 65);
  height: 4em;
  display: flex;
  align-items: center;
}

header {
  font-size: 1.5em;
}

.cart {
  color: white;
}

.cart-text {
  display: inline-block;
  margin-left: 0.5em;
  color: white;
}

 /* Media screens for desktop */
@media (min-width: 1401px) {
  header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  header img {
    height: auto;
    width: 4em;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
  }

  .hamburger-menu {
    display: none;
  }

  .nav-links a {
    padding: 0 2em;
  }

  header img {
    margin-left: 0.5em;
  }

  .cart {
    margin-right: 0.5em;
  }
}

/* Media screens for mobile */
@media (min-width: 370px) and (max-width: 699px){
  html {
    margin: 0;
 }

 body {
  margin: 0;
 }

 ul {
  display: none;
 }

header img {
  max-height: 1.5em;
  float: left;
}

 nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

 .cart {
  font-size: 1em;
  margin-right: 0.2em;
 }

 .cart-text {
  display: none;
 }

 .fa-solid {
  font-size: 1em;
 }

 .hamburger-menu {
  margin-left: 0.2em;
 }
}

/* Media screens for tablet */
@media (min-width: 700px) and (max-width: 1390px){
  html {
    margin: 0;
  }

  body {
    margin: 0;
   }

  ul {
    display: none;
  }

  header img {
    margin-left: -80%;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .cart {
    font-size: 2em;
    margin-right: -15%;
  }

  .cart-text {
    display: none;
  }

  .fa-solid {
    font-size: 1em;
  }

  .hamburger-menu {
    margin-left: -20%;
  }
}