/*Universal styling*/
.front-page-img {
  height: auto;
  width: 100%;
}

/*Browse styling*/
.browse-container h2 {
  color: white;
}

.browse-container {
  background-color: rgb(10, 54, 65);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.browse-container img {
  height: 8em;
  width: 6em;
}

/*Collection styling*/
.collections-container img {
  max-width: 20em;
  border-radius: 25px;
}

.collections-container {
  margin: 2em 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.collection {
  margin: 2em 0;
}

.collection h2 {
  display: none;
}

a.mens-button,
a.womens-button {
  font-family: "Open Sans";
  padding: 1em 2em;
  width: 8em;
  text-align: center;
  background-color: rgb(10, 54, 65);
  border-style: solid;
  border-color: black;
  cursor: pointer;
  color: white;
  display: block;
  justify-self: center;
}

/*Media screens for desktop*/
@media (min-width: 826px) {
  /*Browse styling*/
  .browse-container {
    display: flex;
    justify-content: space-around;
  }
  
  .browse-container img {
    min-width: 10em;
    min-height: 15em;
  }
  
  /*Collections styling*/
  .collections-container {
    justify-content: space-around;
  }

  .collection {
    margin: 0;
  }

  .collection img {
    height: 20em;
    object-fit: cover;
  }
}