/*Body Styling*/

h1 {
  color: black;
}

main h1 {
  display: inline-block;
  margin-left: 1em;
}

button {
  font-family: "Open Sans";
  padding: 0.5rem 0.8rem;
  background-color: rgb(10, 54, 65);
  border-style: solid;
  border-color: black;
  cursor: pointer;
  color: white;
  padding: 1em 2em;
  min-width: 12em;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4em 0;
}

.bar {
  width: 100%;
  height: .1em;
  background-color: rgb(10, 54, 65);
  margin: 1em 0;
}

.under-header {
  display: grid;
  grid-template-columns: auto auto;
  margin: 1em 0;
  text-align: center;
}

.order-details,
.methods {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2.5%;
}

/*Top part styling*/
main img {
  height: auto;
  object-fit: contain;
  border-style: solid;
  border-color: black;
  border-width: 0.1em;
}

main h2 {
  text-align: center;
}

main h3 {
  display: inline-block;
}

.top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
}

.top img {
  justify-self: center;
  margin-top: 2em;
}

.layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.product {
  background-color: rgb(10, 54, 65, 10%);
}

.product-info {
  display: grid;
  grid-template-rows: 50% 50%;
  margin: auto;
}

.cost {
  margin-right: 2em;
}

.jacket,
.cost {
  display: inline-block;
  text-align: center;
}

.sum {
  display: grid;
  grid-template-columns: 70% 30%;
  text-align: left;
  justify-content: right;
}

.sum-right, 
.sum-left {
  display: grid;
  justify-content: right;
  margin-right: 1em;
}

/*Personal details styling*/
fieldset {
  background-color: rgb(10, 54, 65, 10%);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

fieldset label, input {
  margin: .5em;
}

/*Bottom Styling*/
input[type=checkbox] {
  line-height: normal;
  width: 1.5em;
  height: 1.5em;
}

.shipping,
.forms2 {
  background-color: rgb(10, 54, 65, 10%);
  display: flex;
  flex-direction: column;
  gap: 2%;
}

.bottom label {
  width: 4em;
  text-align: center;
  margin-right: 8em;
}

.bottom p {
  display: inline-block;
  width: 6em; 
}

.bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
}

.form-item1,
.form-item2,
.form-item3,
.form-item4,
.form-item5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

/* Media screens for desktop */
@media (min-width: 1401px) {
  button {
    font-size: 1em;
  }

  .hide-desktop {
    display: none;
  }
}

/* Media screens for mobile */
@media (min-width: 370px) and (max-width: 699px) {
  p,
  h3,
  h4 {
    margin-left: 1em;
  }

  .hide-mobile {
    display: none;
  }

  .jacket {
    width: 6em;
    margin: 0.5em auto;
  }

  .cost {
    margin: 0.5em auto;
  }

  .cost-and-button {
    display: grid;
  }

  .product-info {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }

  .product-info button {
    margin: 0.5em auto;
  }

  .top {
    display: inline;
  }

  .sum-left,
  .sum-right {
    display: inline;
  }

  .sum {
    grid-template-columns: 50% 50%;
  }

  .hide-desktop {
    display: block;
  }

  .bottom {
    display: block;
  }

  .form-item1,
  .form-item2,
  .form-item3,
  .form-item4,
  .form-item5 {
    display: block;
  }

  #delivery {
    margin-left: -1px;
  }
}

/* Media screens for tablet */
@media (min-width: 700px) and (max-width: 1390px) {

  button {
    font-size: 1em;
  }

  p,
  h3,
  h4 {
    margin-left: 1em;
  }


  .hide-mobile {
    display: none;
  }

  .top {
    display: inline;
  }

  .left,
  .right {
    display: inline;
  }

  .sum {
    grid-template-columns: 50% 50%;
  }

  .hide-desktop {
    display: block;
  }

  .bottom {
    display: block;
  }
  .cost {
    margin-right: 0.5em;
  }
}