/*Body styling*/
main {
  text-align: center;
}

main img {
  width: 100%;
  max-height: 10em;
  object-fit: contain;
}

h1 {
  text-align: center;
  color: black;
}

p {
  text-align: center;
}

button {
  font-family: "Open Sans";
  padding: 0.5rem 0.8rem;
  background-color: rgb(10, 54, 65);
  border-style: solid;
  border-color: black;
  cursor: pointer;
  color: white;
  padding: 1em 2em;
  min-width: 12em;
}

/* Media screens for desktop */
@media (min-width: 1401px) {
  button {
    font-size: 1em;
  }
}

/* Media screens for tablet */
@media (min-width: 700px) and (max-width: 1390px) {
  button {
    font-size: 1em;
  }
}